# docker-compose.production.yml

volumes:
  pg_data_production:
  static_volume:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
  
  backend:
    image: ${{ secrets.DOCKER_USERNAME }}/taski_backend:latest
    env_file: .env
    volumes:
      - static_volume:/backend_static
  
  frontend:
    image: ${{ secrets.DOCKER_USERNAME }}/taski_frontend:latest
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static
  
  gateway:
    image: ${{ secrets.DOCKER_USERNAME }}/taski_gateway:latest
    env_file: .env
    volumes:
      - static_volume:/staticfiles/
    ports:
      - "8000:80"